.heading-section--slider {
  color: $blue;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 40px;

  &__slide {
    position: relative;
    max-width: 600px;
    text-align: center;
  }

  &__arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 70px;
    height: 130px;
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.4s;

    @media screen and (max-width: 950px) {
      display: none;
    }

    &:hover {
      opacity: 0.3;
    }

    &--left {
      background: url(/images/slider-arrow-left.svg) no-repeat;
      background-size: contain;
      left: -100px;
      margin: 10px 70px 10px 10px;
    }

    &--right {
      background: url(/images/slider-arrow-right.svg) no-repeat;
      background-size: contain;
      right: -100px;
      margin: 10px 10px 10px 70px;
    }
  }

  &__dots {
    text-align: center;
    padding: 70px 10px;
  }

  & img {
    max-width: 300px;
    width: 100%;
  }
}
